<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Spoker is scrum poker</title>
  <link href='https://fonts.googleapis.com/css?family=Lato|Roboto:400,500&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>

<div class="container">
  <header class="header">
    <div>
      <span class="header-title"> - Spoker -</span>
    </div>
  </header> 

  <main>
    {% block content %}{% endblock %}
  </main>
</div>

<script src="/vendors/js/simple-popup.min.js"></script>
<script src="/public/app/createRoom.js"></script>

{% block script %}{% endblock %}
</body>
</html>