html, body {
  margin: 0;
  padding: 0;
  background: #ecf0f1;
  color: #354b60;
}

*{
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.container{

}

.header{
  text-align: center;
  padding: 3rem 0;
  font-family: 'Lato', sans-serif;
}


.header-title{
  font-size: 3rem;
  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  .header{
    padding: 1rem 0;
  }
  .header-title{
    font-size: 1.5rem;
  }
}

main{

}

ul{
  list-style: none outside none;
  padding: 0;
}

a{
  color: #2980b9;
  text-decoration: none;
}

.m-hide{
  display: none;
}

.section{
  display: flex;
  margin-bottom: 3rem;

}

.section__container{
  margin:0 auto;
  text-align: center;
  padding: 3rem;
  width: 600px;
  background: #fff;
}


 .section__list{
  margin-bottom: 3rem;
}
.section__title{
  font-size: 1.2rem;;
  margin-bottom: 1.5rem;
}

.section__list li{
  margin-bottom: 0.75rem;
}



.btn{
  color: #354b60;
  padding: 0.75rem 1.5rem;
  background: none;
  cursor: pointer;
  text-transform: uppercase;
  border: 2px solid #354b60;
  transition: all 0.3s;
  font-size: 14px;
  font-weight: 500;
}

.btn:focus {
  outline: none;
}

.btn:hover, .btn--active{
  background: #354b60;
  color: #fff;
}

.btn--disable, .btn:disabled, .btn:disabled:hover{
  background: #ececec;
  color: #fff;
  border: 2px solid #ececec;
  cursor: default;
}


.btn--vote{
  width: 80px;
  display: block;
  margin-top: 0.75rem;
}

.input-text{
  padding: 0.75rem 1rem;
  border: 2px solid #354b60;
  font-size: 14px;
}

.input-text--long{
  width: 13rem;
}

.btn-list, .users-list{
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  flex-flow: row wrap;
  align-items: flex-start;
}

.btn-list--disable .btn{
  background: #ececec;
  color: #fff;
  border: 2px solid #ececec;
  cursor: default;
}


.vote-result__svg{
  fill: #354b60;
}

.users-list__item{
  border: 2px solid #354b60;
  width: 100px;
  margin-top: 0.75rem;
}

.users-list__item__name{
  padding: 1rem 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.users-list__item__result{
  color: #fff;
  background-color: #354b60;
  border-top:2px solid #354b60;
  padding: 0.5rem;
}

.users-list__item__result--wait{
  color: #354b60;
  background:#fff;
}

@media only screen and (max-width: 768px) {
  .section{
    margin-bottom: 1.5rem;
  }
  .section__container{
    padding: 1.5rem;
    width: 300px;
  }
  .section__list, .btn-list, .users-list{
    margin-bottom: 1.5rem;
  }
}

.popup-wrapper {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 8px #aaa;
  overflow: hidden;
}


.popup-title {
  text-align: center;
  padding: 1.5rem;
}

.popup-title h3 {
  margin: 0;
  line-height: 1.6;
  color: #333;
}

.popup-body {
  padding:1.5rem;
  padding-top: 0;
  text-align: center;
}

.popup-close{
  display: none;
}

.popup-body__link{
  display: block;
  margin-bottom: 0.75em;
}
.popup-body__link:hover{
  cursor: pointer;
  text-decoration: underline;
}


.result-container{
  height: 70px;
  margin-bottom: 1.5em;
}

.result{
  font-size: 3.5rem;
  font-weight: bold;
  color: #2ecc71;
}
